/* 
	Soldevi Reset file v1.0
*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}p {line-height:1.5;margin-bottom:18px;color:#333;}.muted {color:#666;}h1, h2, h3, h4, h5, h6 {line-height:1.1;color:#000;letter-spacing:-0.025em;}
ul{list-style:disc;margin-bottom:1.5em;}ol{list-style:decimal;margin-bottom:1.5em;}strong{font-weight:bold;}em{font-style:italic;}body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {font-size-adjust: 0.5;}
html {box-sizing: border-box;}*, *:before, *:after {box-sizing: inherit;}
body{font-size:120%; line-height: 1.25;}
h1 {font-size: 2em;line-height: 1.25;margin-top: 0.9375em;margin-bottom: 0.3125em;}
h2 {font-size: 1.625em;line-height: 1.15384615;margin-top: 1.15384616em;margin-bottom: 0.38461539em;font-weight:normal;}
h3 {font-size: 1.375em; line-height: 1.13636364;margin-top: 1.37500001em;margin-bottom: 0.45833334em;}
h4 {font-size: 1.125em;line-height: 1.11111111;margin-top: 1.66666667em; margin-bottom: 0.55555556em;}
blockquote {font-size: 1.25em; line-height: 1.25;}
abbr {text-transform:uppercase;font-size:0.8em;letter-spacing:0.1em;}

/*
	 SUPER GENERIC EVERY PAGE STYLE STUFF
*/

body{background:#f3f3f3;font-family:"Open Sans", arial, san-serif;}
h1,h2,h3,h4,h5,h6{font-family:"Bree Serif",serif;text-decoration: none;}
.marginedIn{width:100%;max-width:1680px;margin:0 auto;position:relative;}
a{color:#9C27B0;}
/*
     Header
*/

header{background:#111;padding-top:84px;}
.generalHeader{position:fixed;background:#111;top:0px;z-index:2;width:100%;}
.clearFloat,.clearFloatMobile{zoom:1;}
.clearFloat:after, .clearFloatMobile {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.logo{font-family:"Bree Serif";color:#ccc;font-size:1.9em;padding:0 4px;text-decoration:none;}
.logoLink{text-decoration: none;}
nav{display:block;float:none;}
nav ul{margin-bottom:0px;padding:0;text-align:center;}
nav li {color:#fff;display:inline-block;text-align:center;width:23.6%;height:42px;vertical-align: middle;font-size:0.8em;}
.navigationLink{color:#FFF;display:inline-block;text-decoration:none;height:42px;vertical-align: middle;padding-top:10px;}
.navigationLink:hover{color:#9C27B0; border-bottom:4px solid #9C27B0;}
.contactLi{display:none;}
#homePage .homeLink {color:#9C27B0; border-bottom:4px solid #9C27B0;font-weight:bold;}
#archivePage .archiveLink {color:#9C27B0; border-bottom:4px solid #9C27B0;font-weight:bold;}
#studentPage .studentLink {color:#9C27B0; border-bottom:4px solid #9C27B0;font-weight:bold;}
#aboutPage .aboutLink {color:#9C27B0; border-bottom:4px solid #9C27B0;font-weight:bold;}
#contactPage .contactLink {color:#9C27B0; border-bottom:4px solid #9C27B0;font-weight:bold;}
.search{-webkit-transition: width 1s;transition: width 1s;height:100%;width:40px;height:42px;float:right;background:#333;overflow:hidden;display:none;}
.showSearch{width:200px;}
.searchBox{background:transparent;border:0px;height:100%;width:160px;position:relative;top:0px;color:#fff;padding:10px;}
.search:after{content:"";position:absolute;height:20px;width:20px;top:10px;right:10px;background:url(../img/search.png);cursor:pointer;}
.hero{background:url(../img/cloudHero.png);background-size:cover;width:100%;height:90px;}
.topicBar{text-align:center;padding:0 20px;min-height:23px;}
.topicType{display:inline-block;color:#FFF;margin:0 10px;text-transform: uppercase;padding:10px 0;letter-spacing:1px;font-size:0.8em;border-bottom:4px solid #111;transition:1s;cursor:pointer;}
.generalTopic{border-bottom:4px solid #F44336;}
.htmlTopic{border-bottom:4px solid #9C27B0;}
.phpTopic{border-bottom:4px solid #2196F3;}
.jsTopic{border-bottom:4px solid #FFC107;}
.designTopic{border-bottom:4px solid #4CAF50;}
.projectTopic {border-bottom:4px solid #CDDC39;}
.projectTopic :after{content:"s";}
.noType{border-bottom:4px solid #000;}

/*
	Main Body
*/

.mainWrapper{padding:4px;position:relative;z-index:1;}
.innerWrapper{width:100%;}
.articleContent{max-width:900px;margin:0 auto;line-height:2;letter-spacing: 0.5px;}
.articleContent h1, .articleContent p{padding-bottom:18px;}
.articleContent p{line-height:2;letter-spacing: 0.5px;}
.articleContent li{margin-left:30px;padding-left:10px;line-height:2;padding-bottom:18px;letter-spacing: 0.5px;}

/*
	Front page
*/
.frontPageSection{width:100%;padding:4px 0;}
.sectionInner{background: #fff;border: 1px solid #e9e9e9;}
.blogType{padding:20px;width:100%;height:60px;border-bottom:2px solid #F44336;}
.blogType:before{position: absolute;left: 30px;top: 15px;font-weight: bold;font-size: 1.2em;}
.articleType{margin-bottom:32px;}
.articleType:before{left:0px;}
.blogImage{width:100%;height:200px;background:url(../img/exampleHeader.png);background-position:center;background-size:cover;}
.blogImageLarge{width:100%;height:500px;background:url(../img/exampleHeader.png);background-position:center;background-size:cover;}
.blogDate{color:#000;font-style: italic;}
.articleDate{position:absolute;right:20px;top:0px;}
.blogData{padding:14px;}
.articleTitle{margin-top:10px;}
.blogData h2{padding-top:10px;}
.readMore{border-radius:2px;background:transparent;border:2px solid #eee;padding:14px;cursor:pointer;}
.readMore:hover{color:#FFF !important;}

/*
	Blocks for auto colouring
*/

.generalType .blogType{border-bottom:2px solid #F44336;color:#F44336;position:relative;}
.generalType .blogType:before{content:"General teaching";}
.generalType .readMore{color:#F44336;border-color:#F44336;}
.generalType .readMore:hover{background:#F44336;}
.htmlType .blogType{border-bottom:2px solid #9C27B0;color:#9C27B0;position:relative;}
.htmlType .blogType:before{content:"HTML & CSS";}
.htmlType .readMore{color:#9C27B0;border-color:#9C27B0;}
.htmlType .readMore:hover{background:#9C27B0;}
.phpType .blogType{border-bottom:2px solid #2196F3;color:#2196F3;position:relative;}
.phpType .blogType:before{content:"PHP";}
.phpType .readMore{color:#2196F3;border-color:#2196F3;}
.phpType .readMore:hover{background:#2196F3;}
.jsType .blogType{border-bottom:2px solid #FFC107;color:#FFC107;position:relative;}
.jsType .blogType:before{content:"Javascript";}
.jsType .readMore{color:#FFC107;border-color:#FFC107;}
.jsType .readMore:hover{background:#FFC107;}
.designType .blogType{border-bottom:2px solid #4CAF50;color:#4CAF50;position:relative;}
.designType .blogType:before{content:"Design & UX";}
.designType .readMore{color:#4CAF50;border-color:#4CAF50;}
.designType .readMore:hover{background:#4CAF50;}
.projectType .blogType{border-bottom:2px solid #CDDC39;color:#CDDC39;position:relative;}
.projectType .blogType:before{content:"Project work";}
.projectType .readMore{color:#CDDC39;border-color:#CDDC39;}
.projectType .readMore:hover{background:#CDDC39;}


/*
	Archive page
*/

.archiveSection{width:100%;}
.archiveImage{width:80px;height:80px;background:url(../img/exampleHeader.png);background-position:center;background-size:cover;float:left;margin-right:30px;}
.brief{margin-top:20px;}
.archiveLink{text-decoration:none;}
#archiveController{float:right;text-align:right;position:relative;}
#briefControl{width:20px;height:20px;position:absolute;left:-40px;top:10px;}

/*
	About page
*/

.shotOfMe{position:absolute;left:0px;top:0px;}
.aboutContent{padding-left:400px;max-width:1680px;width:100%;}
.tinyWrapper{width:600px;margin:0 auto;}
.contactCard{padding:20px;background:#fff;border: 1px solid #e9e9e9;}
.socialThirds{width:32%;padding:10px;display:inline-block;}
.socialButton{width:100%;padding:4px 12px;}
.tumblr{background:#32506d;border:1px solid #32506d;}
.github{background:#000;border:1px solid #000;}
.twitter{background:#00aced;border:1px solid #00aced;}
.form-group{border-bottom:1px solid #9C27B0;margin-bottom:15px;position:relative;padding-top:22px;}
.form-group .formControl {border:none;position:relative;padding:10px 5px;width:100%;z-index:1;}
.form-group .form-label {font-weight:300;min-height:17px;text-align:left;position:absolute;left:5px;right:0;top:27px;transition:0.3s;z-index:2;color:#9C27B0;pointer-events:none;}
.form-group.focus .form-label, .form-group.filled .form-label{top:12px;font-size:10px;}
textarea{height:200px;}
.sendForm{border-radius:2px;background:transparent;border:2px solid #9C27B0;padding:14px;cursor:pointer;color:#9C27B0;}

/*
	Triangle loading anim
*/

#container {width: 600px;margin: 360px auto 0 auto;height:600px;position:absolute;}
.triangle {width: 0px;height: 0px;opacity: 0.75;margin: auto;position:relative;animation: enlarge_1 2s infinite;}
.triangle:nth-child(2) {animation: enlarge_2 2s infinite;animation-delay: 0.2s;}
.triangle:nth-child(3) {animation: enlarge_3 2s infinite;animation-delay: 0.4s;}
.triangle:nth-child(4) {animation: enlarge_4 2s infinite;animation-delay: 0.6s;}
.triangle:nth-child(5) {animation: enlarge_5 2s infinite;animation-delay: 0.8s;}
.triangle:nth-child(6) {animation: enlarge_6 2s infinite;animation-delay: 1s;}
@keyframes enlarge_1 {
  from {opcatiy: 1;border-left: 2px solid transparent;border-right: 2px solid transparent;border-bottom: 4px solid #F44336;margin-top: 0px;}
  to {opacity: 0;border-left: 200px solid transparent;border-right: 200px solid transparent;border-bottom: 300px solid #F44336;margin-top: -300px;}
}
@keyframes enlarge_2 {
  from {opcatiy: 1;border-left: 2px solid transparent;border-right: 2px solid transparent;border-bottom: 4px solid #9C27B0;margin-top: -4px;}
  to {opacity: 0;border-left: 200px solid transparent;border-right: 200px solid transparent;border-bottom: 300px solid #9C27B0;margin-top: -300px;}
}
@keyframes enlarge_3 {
  from {opcatiy: 1;border-left: 2px solid transparent;border-right: 2px solid transparent;border-bottom: 4px solid #2196F3;margin-top: -4px;}
  to {opacity: 0;border-left: 200px solid transparent;border-right: 200px solid transparent;border-bottom: 300px solid #2196F3;margin-top: -300px;}
}
@keyframes enlarge_4 {
  from {opcatiy: 1;border-left: 2px solid transparent;border-right: 2px solid transparent;border-bottom: 4px solid #FFC107;;margin-top: -4px;}
  to {opacity: 0;border-left: 200px solid transparent;border-right: 200px solid transparent;border-bottom: 300px solid #FFC107;;margin-top: -300px;}
}
@keyframes enlarge_5 {
  from {opcatiy: 1;border-left: 2px solid transparent;border-right: 2px solid transparent;border-bottom: 4px solid #4CAF50;margin-top: -4px;}
  to {opacity: 0;border-left: 200px solid transparent;border-right: 200px solid transparent;border-bottom: 300px solid #4CAF50;margin-top: -300px;}
}
@keyframes enlarge_6 {
  from {opcatiy: 1;border-left: 2px solid transparent;border-right: 2px solid transparent;border-bottom: 4px solid #CDDC39;;margin-top: -4px;}
  to {opacity: 0;border-left: 200px solid transparent;border-right: 200px solid transparent;border-bottom: 300px solid #CDDC39;;margin-top: -300px;}
}


@media (min-width: 25em) {
	nav li {width:19%;}
	.contactLi{display:inline-block;}
}

@media (min-width: 40em) {
	nav{padding-right:20px;}
	nav li {margin: 0 26px;font-size:1em;width:auto;}
	.search{width:200px;}
	.searchBox{display:inline-block;}
	.logo{padding: 0 20px;}
	.mainWrapper{padding:20px;}
}

@media (min-width: 43.75em) {
	body {font-size: 1em;line-height: 1.375;}
    h1 {font-size: 2.5em;line-height: 1.125;margin-top: 0.73333334em;margin-bottom: 0.24444445em;}
    h2 {font-size: 2em;line-height: 1.25; margin-top: 1.03125em;margin-bottom: 0.34375em;}
    h3 {font-size: 1.5em;line-height: 1.25;margin-top: 1.37500001em;margin-bottom: 0.45833334em;}
    h4 {line-height: 1.22222222;margin-top: 1.83333333em; margin-bottom: 0.61111111em;}
	blockquote {font-size: 1.5em;line-height: 1.45833333;}
	
}

@media (min-width: 56.25em) {
	h1 {font-size: 3em;line-height: 1.05;margin-top: 0.6875em;margin-bottom: 0.22916667em;}
	h2 {font-size: 2.25em;line-height: 1.25;margin-top: 1.03125em;margin-bottom: 0.34375em;}
	h3 {font-size: 1.75em;line-height: 1.25;margin-top: 1.37500001em;margin-bottom: 0.45833334em;}
	.topicType{margin:0 30px;font-size:1em;letter-spacing:2px;}
}

@media (min-width: 62.5em) {
	.clearFloatMobile{display:none;clear:none;}
	nav{display:inline-block;float:right;padding-right:20px;}
	.frontPageSection{width:50%;float:left;padding:10px;}
	header{padding-top:42px;}
	.hero{height:160px;}
}

@media (min-width: 80em) {
	.frontPageSection{width:33%;}
	.generalTopic:before{content:"General ";}
	.htmlTopic:after{content:" & CSS";}
	.designTopic:after{content:" & UX";}
	.projectTopic:after{content:" Work";}
}

/*
 * Showup.js jQuery Plugin
 * http://github.com/jonschlinkert/showup
 *
 * Copyright (c) 2013 Jon Schlinkert, contributors
 * Licensed under the MIT License (MIT).
 */

/**
 * Docs navbar transitions effects
 */

.navbar {
  -webkit-transition: -webkit-transform .5s .5s, background .5s, color .1s;
     -moz-transition:    -moz-transform .5s .5s, background .5s, color .1s;
       -o-transition:      -o-transform .5s .5s, background .5s, color .1s;
          transition:         transform .5s .5s, background .5s, color .1s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.navbar-tall,
.navbar-show {
  opacity: 1;
  -webkit-transition: -webkit-transform .5s, background 2s, color .3s;
     -moz-transition:    -moz-transform .5s, background 2s, color .3s;
       -o-transition:      -o-transform .5s, background 2s, color .3s;
          transition:         transform .5s, background 2s, color .3s;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.navbar-hide {
  -webkit-transition: -webkit-transform .5s, background 2s, color .3s;
     -moz-transition:    -moz-transform .5s, background 2s, color .3s;
       -o-transition:      -o-transform .5s, background 2s, color .3s;
          transition:         transform .5s, background 2s, color .3s;
  -webkit-transform: translate(0, -80px);
      -ms-transform: translate(0, -80px);
          transform: translate(0, -80px);
}

